@{
    ViewData["Title"] = "Home Page";
}

<h3>@ViewData["Message"]</h3>
<p>Email: @ViewData["Email"]</p>
<div class="text-center">
    <h1 class="display-4">Welcome!!</h1>
    <p><a href="https://www.pexels.com/pt-br/">Link</a></p>
</div>
